body {position: relative;
background: url("https://coderpsi.github.io/lacasadeana/fondo.png");
}

#logo {position: relative;
float: left;
top: -95px;
left: -25px;
width: 400px;
margin-right: 10px;}

nav {position: static;
width: 900px;
top: 90px;
float: right;
font-family: 'Fjalla One', sans-serif;
font-size: x-large;
font-variant: small-caps;
}

nav table {
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.8) 25%, 
     rgba(255, 255, 255, 0.8) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);}

article {position: static;
top: -180px;
clear: both;
background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.8) 25%, 
     rgba(255, 255, 255, 0.8) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);}

h1 {
font-family: 'Alegreya Sans SC', sans-serif;
text-align: center;
letter-spacing: 2px;}

.titulo  {
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
text-decoration: underline;}

p {
font-family: 'Roboto', sans-serif;
text-align: center;}

table {
font-family: 'Roboto', sans-serif;
text-align: center;}

.chau {
visibility: hidden;}

.excepcion {
font-family: 'PT Sans', sans-serif;
font-variant: small-caps;}

footer {
position: relative;
top: -150px;
font-family: 'Open Sans Condensed', sans-serif;
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.8) 25%, 
     rgba(255, 255, 255, 0.8) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);}
