body {position: relative;
background: url("https://coderpsi.github.io/lacasadeana/fondo.png");
}

nav {background: black;
    position: static;
font-family: 'Fjalla One', sans-serif;
font-size: x-large;
font-variant: small-caps;
}

article {
background-color: black;}




a:active{
    color: negro;}

a:visit{
    color: negro;}

a:hover{
    color: violet;}

h1 {
font-family: 'Alegreya Sans SC', sans-serif;
text-align: center;
letter-spacing: 2px;}

.titulo  {
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
text-decoration: underline;}

p {
font-family: 'Roboto', sans-serif;
text-align: center;}

table {
font-family: 'Roboto', sans-serif;
text-align: center;}

.chau {
visibility: hidden;}

.excepcion {
font-family: 'PT Sans', sans-serif;
font-variant: small-caps;}

footer {
position: relative;
font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;}
