body {position: relative;
background: url("https://coderpsi.github.io/lacasadeana/fondo.png");
}

#logo {position: relative;
float: left;
top: -95px;
left: -25px;
width: 400px;
margin-right: 10px;}

nav {position: relative;
width: 900px;
top: 90px;
float: right;
font-family: 'Fjalla One', sans-serif;
font-size: x-large;
font-variant: small-caps;
}

nav table {
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.8) 25%, 
     rgba(255, 255, 255, 0.8) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);}

article {position: relative;
top: -180px;
clear: both;
background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.8) 25%, 
     rgba(255, 255, 255, 0.8) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);}

h1 {
font-family: 'Alegreya Sans SC', sans-serif;
text-align: center;
letter-spacing: 2px;}

.titulo  {
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
text-decoration: underline;}

p {
font-family: 'Roboto', sans-serif;
text-align: center;}

table {
font-family: 'Roboto', sans-serif;
text-align: center;}

.chau {
visibility: hidden;}

.excepcion {
font-family: 'PT Sans', sans-serif;
font-variant: small-caps;}

footer {
position: relative;
top: -150px;
font-family: 'Open Sans Condensed', sans-serif;
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.8) 25%, 
     rgba(255, 255, 255, 0.8) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);}

.slideshow-container{
 
max-width: 1000px;

position:relative;

margin:auto;

}



.mySlides{

display:none;
}


.prev, .next{
 
cursor:pointer;

position:absolute;

top:50%;
 width:auto;

margin-top:-22px;

padding:16px;
 
color:white;
 
font-weight:bold;
 
font-size:18px;
 
transition:0.6s ease;
 
border-radius:0 3px 3px 0;
}



.next{
 right:0;
 
border-radius:3px 0 0 3px;

}



.prev:hover, .next:hover{
 
background-color:rgba(0,0,0,0.8);

}



.text{
 
color:#f2f2f2;
 
font-size:15px;
 
padding:8px 12px;
 
position:absolute;
 
bottom:8px;
 
width:100%;
 
text-align:center;

}



.numbertext{
 
color:#f2f2f2;
 
font-size:12px;
 
padding:8px 12px;
 
position:absolute;
 
top:0;

}



.fade{
 
-webkit-animation-name:fade;

-webkit-animation-duration:1.5s;
 
animation-name:fade;
 
animation-duration:1.5s;

}



@-webkit-keyframes fade{

 from{opacity:.4}

to{opacity:1}

}



@keyframes fade{
 
from{opacity:.4}

to{opacity:1}

}